.container {
    z-index: 4;
    position:absolute;
    left: 30%;
    top: 20%;
    font-size: 150%;
    font-family: 'Merienda', cursive;
  } 
#score {
    z-index: 4;
    font-weight: bold;
  }
  
#timer {
    font-weight: bold;
}



